@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.navbar {
  background-color: #f2f5f9;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.side-drawer-options-desktop {
  display: flex;
  list-style: none;
  width: 80%;
  justify-content: space-evenly;
}
.side-drawer-option-desktop {
  width: 100%;
  margin-left: 0.1em;
  margin-top: 1em;
  padding-left: 0.5em;
  text-align: justify;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: 600;
}
#nav-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  height: 24px;
  width: 30px;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  background-color: transparent;
}
.button-line {
  background-color: black;
  height: 1px;
  width: 30px;
}
#nav-button:focus,
#nav-button :active {
  outline: none;
}
.online-icon {
  height: 0.5em;
  width: 0.5em;
  border-radius: 50%;
  background-color: #71c846;
  margin: 0.3em 0.5em 0 0.5em;
}
.menu-button {
  cursor: pointer;
}
.menu {
  border: gray solid 0.03em;
  position: absolute;
  top: 4.4em;
  right: 0.05em;
  padding-right: 1em;
  height: fit-content;
  background-color: #f2f5f9;
  border-bottom-left-radius: 0.2em;
}
.hidden-menu {
  display: none;
}
.menu-option {
  padding: 0.15em;
  font-size: 0.8em;
}
.option-icon-desktop {
  height: 1.4em;
  margin-right: 0.157em;
  vertical-align: text-bottom;
}
.greeting-message {
  max-width: 50%;
  display: flex;
  font-size: 0.9em;
  justify-content: flex-end;
  align-items: center;
}
.navlink-desktop {
  height: fit-content;
  color: black;
}
.logout-navlink {
  height: fit-content;
  color: black;
  list-style: none;
}
.navlink-desktop:hover,
.logout-navlink:hover {
  text-decoration: none;
  color: black;
}
@media (min-width: 750px) {
  #nav-button {
    display: none;
  }
  .side-drawer-options-desktop {
    padding: 0;
  }
  .side-drawer-option-desktop {
    padding: 0;
  }
  .drawer {
    display: none;
  }
}
@media (max-width: 750px) {
  .side-drawer-options-desktop {
    display: none;
  }
  .menu-button,
  .menu {
    display: none;
  }
}
