@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.navbar {
  background-color: #f2f5f9;
  display: flex;
  flex-direction: row-reverse;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
#nav-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  height: 24px;
  width: 30px;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  background-color: transparent;
}
.button-line {
  background-color: black;
  height: 1px;
  width: 30px;
  z-index: 300;
}
#nav-button:focus,
#nav-button :active {
  outline: none;
}
.online-icon {
  height: 0.5em;
  width: 0.5em;
  border-radius: 50%;
  background-color: #71c846;
  margin: 0.3em 0 0 0.5em;
}
.greeting-message {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
