.navbar {
  background-color: #28464e;
}
#nav-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  height: 24px;
  width: 30px;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  background-color: transparent;
}
.button-line {
  background-color: white;
  height: 1px;
  width: 30px;
}
#nav-button:focus,
#nav-button :active {
  outline: none;
}
