@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.patients-list {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  padding: 0.45em;
  justify-content: center;
  align-items: center;
}
