.patient-item {
  box-shadow: 0.1em 0.1em 0.2em 0.02em gainsboro;
  background-color: #dce2e7;
  margin: 0.5em;
  padding: 0.3em;
  text-align: center;
  width: 16em;
  height: 2em;
  font-weight: 600;
  border-radius: 0.2em;
}
.patient-navlink {
  padding: 0;
  height: fit-content;
  margin-top: 0.7em;
  background-color: transparent;
  color: black;
}
.patient-navlink:hover {
  text-decoration: none;
  color: black;
}
