@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.patients-list {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-wrap: wrap;
  padding: 0.45em;
  justify-content: flex-start;
}
.patient-item {
  box-shadow: 0.1em 0.1em 0.2em 0.02em gainsboro;
  background-color: #f5f6f7;
  margin: 0.5em;
  padding-left: 0.5em;
  text-align: left;
  width: 15em;
  height: 2em;
  font-weight: 600;
  border-radius: 0.2em;
}
