.search-box {
  width: 15em;
  border-radius: 2em;
  font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}
.search-box-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  padding-right: 0.6em;
  width: 100%;
}
.add-patient-button {
  background-color: transparent;
  border: none;
  outline: none;
}
.add-patient-button:active,
.add-patient-button:focus {
  outline: none;
}
.add-patient-icon {
  border: none;
  height: 2.4em;
  width: 2.4em;
  margin-right: 0.5em;
}
