@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
.update-patient-form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding: 2.2em;
}
#update-patient-form {
  width: 25rem;
}
.update-patient-form-button {
  background-color: #3b555e;
  color: white;
}
.form-title {
  font-family: "Source Sans Pro", sans-serif;
  text-align: left;
  font-weight: 700;
  font-size: 1.3em;
  display: block;
}
